<?xml version="1.0" encoding="utf-8"?>
<!--
	# Publish Profiles
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-8.0#publish-profiles

	# PropertyGroup and ItemGroup customizations
https://learn.microsoft.com/en-us/dotnet/core/docker/publish-as-container?pivots=dotnet-8-0
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerFamily>jammy-chiseled</ContainerFamily>
        <ContainerRuntimeIdentifier>linux-arm64;linux-x64;linux-arm</ContainerRuntimeIdentifier>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>couchpartygames/open-match-frontend</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="8080" Type="tcp" />
        <ContainerLabel Include="games.couchparty" Value="placeholder" />
    </ItemGroup>
</Project>