<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>couchpartygames/openmatch-frontend</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="8080" Type="tcp" />
    </ItemGroup>
</Project>